* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 20%,
    #000 80%,
    transparent
  );
}

.wrapper {
  display: flex;
  align-items: center;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

.logo {
  flex-shrink: 0;
  margin-right: 2rem;
}
.logo img {
  opacity: 0.7;
}
