body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10rem;
  background-color: rgba(150, 12, 115, 0.459);
}
button {
  font-family: monospace;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  background-color: rgb(59, 68, 80);
  padding: 0.7rem 2.5rem;
  border: 1px solid rgb(107, 107, 107);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease;
}
button:hover {
  transform: scale(0.95);
}
button > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0.7;
  width: 25rem;
  height: 25rem;
  background: radial-gradient(rgb(96, 30, 202), rgb(199, 202, 10));
  border-radius: 50%;
  animation: ripple 0.8s ease infinite;
}
@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
